.fundo-azul{
    background-color: rgb(149, 204, 236);
}

.fundo-laranja{
    background-color: orange;
}

.fundo-azul-escuro{
    background-color: #0015FF;
}

.texto-branco{
    color: aliceblue;
}


body{
    background-color: rgb(149, 204, 236);
}

.titulo{
    color: aliceblue;
    padding: 10PX;
}

.livros{
    height: 256px;
    width: 180px;
    padding-left: 10px;
}

.botão-vermais{
    overflow: hidden;
}

.Categoria-Academicos{
    overflow: hidden;
}








#imagem-carousel{
    width: 100%;   
}

