.fundo-azul{
    background-color: rgb(149, 204, 236);
}

.fundo-laranja{
    background-color: orange;
}

.fundo-laranja-escuro{
    background-color: orangered;
}

.fundo-azul-escuro{
    background-color: #0015FF;
}

.texto-branco{
    color: aliceblue;
}


body{
    background-color: rgb(149, 204, 236);
}

.titulo{
    color: aliceblue;
    padding: 10PX;
}

.livros{
    height: 256px;
    width: 180px;
    /* padding-left: 10px; */
    margin: 5px;
}

.botão-vermais{
    overflow: hidden;
}

.Categoria-Academicos{
    overflow: hidden;
}

.footer{
    text-align: left;
    height: 300px;
}

.creditos{
    text-align: center;
    height: 100px;
}

.texto-creditos{
    color: white;
}

.aviso-cookies{
    position: fixed;
    margin-top: 500px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.589);
    width: 100%;

}

.texto-cookies{
    color: white;
    font-size: 30px;
    margin-left: 10px;
}

.link-politica{
    color: yellow;
}

.botao-fechar-politica{
    margin-left: 10px;
}






#imagem-carousel{
    width: 100%;   
}

